@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    overflow: hidden;
  }

  nb-tabset {
    display: flex;
    flex-direction: column;

 
  }

  nb-tab {
    padding: 0;
  }


}
